.top_bar{
    background-color: rgb(55, 0, 184);
    border-top: solid black;
    border-left: solid black;
    height: 80px;
    overflow: hidden;
}

.top_bar a{
    text-decoration: underline;
    border-right: solid black;
    float: right;
    color: black;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 18px;
}

.top_bar a:hover{
    text-decoration: underline;
    background-color: gray;
    color: black;
}

.top_bar a.active{
    background-color: gray;
}

#home{
    text-decoration: underline;
    border-left: solid black;
}

#product{
    text-decoration: underline;
}

#contact{
    text-decoration: underline;
}

.top_bar_img{
    width: 280px;
    height: 80px;
}
